*{
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    overflow: hidden;
    height: 300px;
    margin: 15px auto 0px;
    position: relative;
}
#frame{
    width: 600px;
    height: 300px;
    border-radius: 25px;
    /* overflow: hidden; */
    box-sizing: border-box;
    position: absolute;
    left: 50px;
}
#slider{
    width: 1800px;
    height: 300px;
    display: flex;
    text-align: center;
    transition: 0.5s ease-in-out;
}
article{
    display: inline-block;
    width: 600px;
    height: 300px;
    background-color: rgb(255, 75, 80);
    line-height: 290px;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 3em;
    font-weight: bold;
}
#slider>article:nth-child(2){
    background-color: rgb(255, 150, 80);
}
#slider>article:nth-child(3){
    background-color: rgb(255, 225, 80);
}
#left, #right{
    position: absolute;
    top: 125px;
}
#left{
    left: 0;
}
#right{
    right: 0;
}
#left:hover, #right:hover{
    cursor: pointer;
} 
img{
    width: 50px;
}
.option{
    width: 450px;
    height: 20px;
    margin: 25px auto 0px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
input{
    width: 40px;
    height: 20px;
    box-sizing: border-box; 
    position: relative;
    top: -1.25px;
}
.plus_minus{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#plus{
    width: 35px;
    height: 35px;
}
#minus{
    width: 32.5px;
    height: 32.5px;
}