*{
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    height: 300px;
    margin: 50px auto;
    position: relative;
}
#frame{
    width: 600px;
    height: 300px;
    border: 5px solid black;
    border-radius: 25px;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    left: 50px;
}
#slider{
    width: 1800px;
    height: 300px;
    display: flex;
    text-align: center;
    transition: 0.5s ease-in-out;
}
#slider>article{
    width: 600px;
    height: 300px;
    background-color: rgb(255, 75, 80);
    line-height: 290px;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 3em;
    font-weight: bold;
}
#slider>article:nth-child(2){
    background-color: rgb(255, 150, 80);
}
#slider>article:nth-child(3){
    background-color: rgb(255, 225, 80);
}
#left{
    position: absolute;
    left: 0px;
    top: 125px;
}
#right{
    position: absolute;
    right: 0;
    top: 125px;
}
img{
    width: 50px;
}
.option{
    width: 300px;
    height: 50px;
    margin: 25px auto;
}
input{
    width: 40px;
    height: 20px;
}